* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F5F1E8;
}

/* Utility Classes */

.hidden {
    display: none;
}

.visually-hidden:not(:focus):not(:active) {
   position: absolute !important; 
   width: 1px !important; 
   height: 1px !important; 
   padding: 0 !important; 
   margin: -1px !important; 
   overflow: hidden !important; 
   clip-path: inset(50%); 
   white-space: nowrap !important; 
   border: 0 !important; 
}