* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F5F1E8;
}

img {
    max-width: 100%;
}

/* Utility Classes */

.hidden {
    display: none;
}

.visually-hidden:not(:focus):not(:active) {
   position: absolute !important; 
   width: 1px !important; 
   height: 1px !important; 
   padding: 0 !important; 
   margin: -1px !important; 
   overflow: hidden !important; 
   clip-path: inset(50%); 
   white-space: nowrap !important; 
   border: 0 !important; 
}

.util-card {
    width: 100%;
    min-height: 100px;
    margin: 10px 0px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

/* Font Styling */

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
    color: #6B5B4C;
    margin: 10px 0px;
}